<section class="hero">
  <div class="container">
    <div class="hero-text">
    <h1>Sharma RK & Co.</h1>
      <h1>Chartered Accountants</h1>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2>Why Choose Sharmark?</h2>
    <div class="feature-cards">
      <div class="card">
        <h3>Integrity</h3>
        <p>Upholding the highest level of professional standards and reputation for integrity, we platform a culture of transparency and responsibility.</p>
      </div>
      <div class="card">
        <h3>Collaborative Growth</h3>
        <p>Utmost expertise and excellence of the services we offer is part of our corporate DNA. We strive to succeed by exceeding client expectations.</p>
      </div>
      <div class="card">
        <h3>Passion for Excellence</h3>
        <p>We believe in continuous development and collaborative growth. Capitalizing from our cultural and ideological diversity, we at Sharma RK & Co.</p>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <h2>Ready to Get Started?</h2>
    <p>Join us click below.</p>
    <button class="cta-btn" (click)="goToTodo()">Start Calculation</button>
  </div>
</section>
<section class ="footer-bottom">

</section>